@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 10%;
  background: #03045E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
}

.figuralogo {
  font-size: 2rem;
  box-shadow: 5px 5px 5px black;
}

.navbar a {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  font-size: 18px;
  color: #f3f3f3;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
.navbar .item1 {
  animation-delay: 0.2s;
}
.navbar .item2 {
  animation-delay: 0.4s;
}
.navbar .item3 {
  animation-delay: 0.6s;
}
.navbar .item4 {
  animation-delay: 0.8s;
}
.navbar .item5 {
  animation-delay: 1s;
}

.navbar a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  cursor: pointer;
  display: none;
  color: white;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .menu {
    padding: 1.3rem 2%;
  }
}
@media (max-width: 783px) {
  .icons {
    display: inline-flex;
  }
  #check:checked ~ .icons #menu-icon {
    display: none;
  }
  .icons #close-icon {
    display: none;
  }
  #check:checked ~ .icons #close-icon {
    display: block;
  }
  .navbar {
    display: block;
    position: absolute;
    top: 100%;
    height: 0;
    left: 0;
    width: 100%;
    background: #03045E;
    overflow: hidden;
    transition: 0.3s ease;
  }
  #check:checked ~ .navbar {
    height: 17.7rem;
  }
  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: 0.3s ease;
    opacity: 0;
  }
}
#check:checked ~ .navbar a {
  transform: translateY(0);
  opacity: 1;
  transition-delay: calc(0.15s * var(--i));
}

.pag1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #03045E;
}
.pag1 .titulo {
  margin-left: 50px;
  margin-bottom: auto;
  margin-top: 20px;
  color: #f3f3f3;
  background-color: #03045E;
  border: #f3f3f3;
  font-family: "Londrina Solid", cursive;
  font-size: 80px;
  font-weight: 900;
}
.pag1 .titulo:hover {
  transform: translateY(-10px);
  background-color: #0ac5ee;
  width: 200PX;
  height: 100px;
  color: #000;
}
.pag1 .nombre {
  margin: 100px auto;
  width: 70%;
}
.pag1 .nombre img {
  max-width: 70%;
  border: 3px solid #f3f3f3;
  border-radius: 10px;
  margin-right: 15px;
}
.pag1 .nombre .guardiola {
  float: left;
}
.pag1 .nombre .scaloni {
  float: right;
}
.pag1 .nombre .messi {
  float: left;
}
.pag1 .nombre img {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}
.pag1 .nombre .elogios {
  color: #f3f3f3;
}
.pag1 .nombre .elogios h2 {
  font-size: 42px;
}
.pag1 .nombre .elogios p {
  font-size: 16px;
}
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

.footer {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #03045E;
  padding-block: 10px;
  text-align: center;
  padding-left: 10px;
  justify-content: space-between;
  margin-top: auto;
}
.footer .logosmarcas {
  width: 50px;
}
.footer .logosapp {
  display: flex;
  list-style-type: none;
  margin-top: 15px;
  gap: 1rem;
  justify-content: center;
}

.biografia {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #03045E;
  flex-wrap: wrap;
}
.biografia .card {
  font-family: "Montserrat Alternates", sans-serif;
  position: relative;
  width: 300px;
  height: 600px;
  margin: 20px;
}
.biografia .card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
}
.biografia .card front {
  transform: perspective(600px) rotateY(360deg);
  box-shadow: 0 5px 10px black;
}
.biografia .card front img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.biografia .card front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.biografia .card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}
.biografia .card .back .h3 {
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.biografia .card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.biografia .card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.estadisticas {
  font-family: "Montserrat Alternates", sans-serif;
  background: #03045E;
  padding: 5px 5%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  color: black;
}

.container .box-containerriver .boxriver {
  margin-top: 100px;
  border-radius: 5px;
  background-image: url(../img/julianriverstats.png);
  background-repeat: no-repeat;
  background-size: 1500px;
  background-position: 50% 50%;
  height: 100vh;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.container .box-containerriver .boxriver .equiporiver {
  font-size: 30px;
  background-image: repeating-linear-gradient(to right, white, red);
  width: 20%;
  margin-bottom: 20px;
  animation-name: equiporiver;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes equiporiver {
  100% {
    width: 90%;
  }
}
.container .box-containerriver .boxriver .partidosriver {
  font-size: 20px;
  background-image: repeating-linear-gradient(to right, white, red);
  width: 20%;
  -moz-text-align-last: justify;
       text-align-last: justify;
  margin-bottom: 20px;
  animation-name: equiporiver;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.container .box-containerriver .boxriver .golesriver {
  font-size: 20px;
  background-image: repeating-linear-gradient(to right, white, red);
  width: 20%;
  -moz-text-align-last: justify;
       text-align-last: justify;
  margin-bottom: 20px;
  animation-name: equiporiver;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.container .box-containerriver .boxriver .promediogolriver {
  font-size: 20px;
  background-image: repeating-linear-gradient(to right, white, red);
  width: 20%;
  -moz-text-align-last: justify;
       text-align-last: justify;
  margin-bottom: 20px;
  animation-name: equiporiver;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.container .box-containerriver .boxriver .asistenciasriver {
  font-size: 20px;
  background-image: repeating-linear-gradient(to right, white, red);
  width: 20%;
  -moz-text-align-last: justify;
       text-align-last: justify;
  margin-bottom: 20px;
  animation-name: equiporiver;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.container .box-containerriver .boxriver .promediosasistriver {
  font-size: 20px;
  background-image: repeating-linear-gradient(to right, white, red);
  width: 20%;
  -moz-text-align-last: justify;
       text-align-last: justify;
  margin-bottom: 20px;
  animation-name: equiporiver;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.container .box-containercity {
  border-radius: 5px;
  background-image: url(../img/juliancity.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1500px;
  height: 100vh;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .box-containercity .boxcity .equipocity {
  font-size: 30px;
  background-image: repeating-linear-gradient(to right, white, rgb(0, 225, 255));
  width: 20%;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: flex-start;
  animation-name: equipocity;
  animation-delay: 5s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes equipocity {
  100% {
    width: 90%;
  }
}
.container .box-containercity .boxcity .partidoscity {
  font-size: 20px;
  background-image: repeating-linear-gradient(to right, white, rgb(0, 225, 255));
  width: 20%;
  -moz-text-align-last: justify;
       text-align-last: justify;
  margin-bottom: 20px;
  animation-name: equipocity;
  animation-delay: 5s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.container .box-containercity .boxcity .golescity {
  font-size: 20px;
  background-image: repeating-linear-gradient(to right, white, rgb(0, 225, 255));
  width: 20%;
  -moz-text-align-last: justify;
       text-align-last: justify;
  margin-bottom: 20px;
  animation-name: equipocity;
  animation-delay: 5s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.container .box-containercity .boxcity .promediogolcity {
  font-size: 20px;
  background-image: repeating-linear-gradient(to right, white, rgb(0, 225, 255));
  width: 20%;
  -moz-text-align-last: justify;
       text-align-last: justify;
  margin-bottom: 20px;
  animation-name: equipocity;
  animation-delay: 5s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.container .box-containercity .boxcity .asistenciascity {
  font-size: 20px;
  background-image: repeating-linear-gradient(to right, white, rgb(0, 225, 255));
  width: 20%;
  -moz-text-align-last: justify;
       text-align-last: justify;
  margin-bottom: 20px;
  animation-name: equipocity;
  animation-delay: 5s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.container .box-containercity .boxcity .promediosasistcity {
  font-size: 20px;
  background-image: repeating-linear-gradient(to right, white, rgb(0, 225, 255));
  width: 20%;
  -moz-text-align-last: justify;
       text-align-last: justify;
  margin-bottom: 20px;
  animation-name: equipocity;
  animation-delay: 5s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.container .box-containerarg {
  border-radius: 5px;
  background-image: url(../../img/julianarg\ -\ copia.png);
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: 1500px;
  height: 100vh;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .box-containerarg .boxarg .equipoarg {
  font-size: 30px;
  background-image: repeating-linear-gradient(to right, white, rgb(38, 0, 255));
  width: 20%;
  margin-top: 10px;
  margin-bottom: 20px;
  animation-name: equipoarg;
  animation-delay: 8s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes equipoarg {
  100% {
    width: 90%;
  }
}
.container .box-containerarg .boxarg .partidosarg {
  font-size: 20px;
  background-image: repeating-linear-gradient(to right, white, rgb(38, 0, 255));
  width: 20%;
  -moz-text-align-last: justify;
       text-align-last: justify;
  margin-bottom: 20px;
  animation-name: equipoarg;
  animation-delay: 8s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.container .box-containerarg .boxarg .golesarg {
  font-size: 20px;
  background-image: repeating-linear-gradient(to right, white, rgb(38, 0, 255));
  width: 20%;
  -moz-text-align-last: justify;
       text-align-last: justify;
  margin-bottom: 20px;
  animation-name: equipoarg;
  animation-delay: 8s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.container .box-containerarg .boxarg .promediogolarg {
  font-size: 20px;
  background-image: repeating-linear-gradient(to right, white, rgb(38, 0, 255));
  width: 20%;
  -moz-text-align-last: justify;
       text-align-last: justify;
  margin-bottom: 20px;
  animation-name: equipoarg;
  animation-delay: 8s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.container .box-containerarg .boxarg .asistenciasarg {
  font-size: 20px;
  background-image: repeating-linear-gradient(to right, white, rgb(38, 0, 255));
  width: 20%;
  -moz-text-align-last: justify;
       text-align-last: justify;
  margin-bottom: 20px;
  animation-name: equipoarg;
  animation-delay: 8s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.container .box-containerarg .boxarg .promediosasistarg {
  font-size: 20px;
  background-image: repeating-linear-gradient(to right, white, rgb(38, 0, 255));
  width: 20%;
  -moz-text-align-last: justify;
       text-align-last: justify;
  margin-bottom: 20px;
  animation-name: equipoarg;
  animation-delay: 8s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.palmares {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #03045E;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.palmares .clubriver {
  color: white;
  width: 100%;
  padding: 5px 5px 0px;
  font-size: 2.5rem;
  text-decoration: underline;
  text-align: center;
  margin-top: 10px;
}
.palmares .rivertitulos {
  background-color: rgba(240, 54, 54, 0.993);
  width: 85%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}
.palmares .clubcity {
  color: white;
  width: 100%;
  padding: 5px 5px 0px;
  font-size: 2.5rem;
  text-decoration: underline;
  text-align: center;
}
.palmares .citytitulos {
  background-color: rgba(85, 194, 183, 0.993);
  width: 85%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}
.palmares .clubarg {
  color: white;
  width: 100%;
  padding: 5px 5px 0px;
  font-size: 2.5rem;
  text-decoration: underline;
  text-align: center;
}
.palmares .argtitulos {
  background-color: rgba(66, 130, 191, 0.993);
  width: 85%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.proximospartidos {
  font-family: "Montserrat Alternates", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #03045E;
}
.proximospartidos .card {
  width: 300px;
  height: 250px;
  margin: 3% 15%;
}

@media (max-width: 400px) {
  .proximospartidos .card {
    height: auto;
    width: auto;
  }
}/*# sourceMappingURL=estilo.css.map */