.container {
    .box-containerarg {
        border-radius: 5px;
        background-image: url(../../img/julianarg\ -\ copia.png);
        background-repeat: no-repeat;
        background-position: 50% 10%;
        background-size: 1500px;
        height: 100vh;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        .boxarg {
            .equipoarg {
                font-size: 30px;
                background-image: repeating-linear-gradient(to right, white, rgb(38, 0, 255));
                width: 20%;
                margin-top: 10px;
                margin-bottom: 20px;
                animation-name: equipoarg;
                animation-delay: 8s;
                animation-duration: 3s;
                animation-fill-mode: forwards;
            }

            @keyframes equipoarg {
                100%{
                    width: 90%;
                }
                
            }
            

            .partidosarg{
                font-size: 20px;
                background-image: repeating-linear-gradient(to right, white, rgb(38, 0, 255));
                width: 20%;
                text-align-last: justify;
                margin-bottom: 20px;
                animation-name: equipoarg;
                animation-delay: 8s;
                animation-duration: 3s;
                animation-fill-mode: forwards;
            }

            .golesarg{
                font-size: 20px;
                background-image: repeating-linear-gradient(to right, white, rgb(38, 0, 255));
                width: 20%;
                text-align-last: justify;
                margin-bottom: 20px;
                animation-name: equipoarg;
                animation-delay: 8s;
                animation-duration: 3s;
                animation-fill-mode: forwards;
            }

            .promediogolarg{
                font-size: 20px;
                background-image: repeating-linear-gradient(to right, white, rgb(38, 0, 255));
                width: 20%;
                text-align-last: justify;
                margin-bottom: 20px;
                animation-name: equipoarg;
                animation-delay: 8s;
                animation-duration: 3s;
                animation-fill-mode: forwards;
            }

            .asistenciasarg{
                font-size: 20px;
                background-image: repeating-linear-gradient(to right, white, rgb(38, 0, 255));
                width: 20%;
                text-align-last: justify;
                margin-bottom: 20px;
                animation-name: equipoarg;
                animation-delay: 8s;
                animation-duration: 3s;
                animation-fill-mode: forwards;
            }
            
            .promediosasistarg{
                font-size: 20px;
                background-image: repeating-linear-gradient(to right, white, rgb(38, 0, 255));
                width: 20%;
                text-align-last: justify;
                margin-bottom: 20px;
                animation-name: equipoarg;
                animation-delay: 8s;
                animation-duration: 3s;
                animation-fill-mode: forwards;
            }
        }
    }
}