.container { 
    .box-containercity {
        border-radius: 5px;
        background-image: url(../img/juliancity.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 1500px;
        height: 100vh;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .boxcity { 
            .equipocity{
                font-size: 30px;
                background-image: repeating-linear-gradient(to right, white, rgb(0, 225, 255));
                width: 20%;
                margin-top: 10px;
                margin-bottom: 20px;
                align-items: flex-start;
                animation-name: equipocity;
                animation-delay: 5s;
                animation-duration: 3s;
                animation-fill-mode: forwards;
            }

            @keyframes equipocity {
                100%{
                    width: 90%;
                }
                
            }
            

            .partidoscity{
                font-size: 20px;
                background-image: repeating-linear-gradient(to right, white, rgb(0, 225, 255));
                width: 20%;
                text-align-last: justify;
                margin-bottom: 20px;
                animation-name: equipocity;
                animation-delay: 5s;
                animation-duration: 3s;
                animation-fill-mode: forwards;
            }

            .golescity{
                font-size: 20px;
                background-image: repeating-linear-gradient(to right, white, rgb(0, 225, 255));
                width: 20%;
                text-align-last: justify;
                margin-bottom: 20px;
                animation-name: equipocity;
                animation-delay: 5s;
                animation-duration: 3s;
                animation-fill-mode: forwards;
            }

            .promediogolcity{
                font-size: 20px;
                background-image: repeating-linear-gradient(to right, white, rgb(0, 225, 255));
                width: 20%;
                text-align-last: justify;
                margin-bottom: 20px;
                animation-name: equipocity;
                animation-delay: 6s;
                animation-duration: 3s;
                animation-fill-mode: forwards;
            }

            .asistenciascity{
                font-size: 20px;
                background-image: repeating-linear-gradient(to right, white, rgb(0, 225, 255));
                width: 20%;
                text-align-last: justify;
                margin-bottom: 20px;
                animation-name: equipocity;
                animation-delay: 6s;
                animation-duration: 3s;
                animation-fill-mode: forwards;
            }

            .promediosasistcity{
                font-size: 20px;
                background-image: repeating-linear-gradient(to right, white, rgb(0, 225, 255));
                width: 20%;
                text-align-last: justify;
                margin-bottom: 20px;
                animation-name: equipocity;
                animation-delay: 6s;
                animation-duration: 3s;
                animation-fill-mode: forwards;
            }
        }
    }
}