.menu{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 10%;
    background: $mainColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: $fontKanit;
    font-size: 20px;
}

.figuralogo{
    font-size: 2rem;
    box-shadow: 5px 5px 5px black;
}

.navbar {
    a{
        -webkit-animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both;
        animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both;
        font-size: 18px;
        color: #f3f3f3;
        font-weight: 500;
        text-decoration: none;
        margin-left: 40px;
    }

    @for $item from 1 through 5{
        .item#{$item} {
            animation-delay: $item*0.2s;
        }
    }
}


.navbar { 
    a::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f3f3f3;
    }
}


#check{
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
    color: white;
}



@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}


@media (max-width: 992px){
    .menu{
        padding: 1.3rem 2%;
    }
}

@media (max-width: 783px){
    .icons {
        display: inline-flex;
    }

    #check:checked~ {
        .icons #menu-icon{
            display: none;
        }
    }

    .icons {
        #close-icon{
            display: none;
        }
    }

    #check:checked~{
        .icons{
            #close-icon{
                display: block;
            } 
        }
    }
    
    .navbar{
        display: block;
        position: absolute;
        top: 100%;
        height: 0;
        left: 0;
        width: 100%;
        background: $mainColor;
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~{
        .navbar{
            height: 17.7rem;
        }
    }

    .navbar {
        a{
            display: block;
            font-size: 1.1rem;
            margin: 1.5rem 0;
            text-align: center;
            transform: translateY(-50px);
            transition: .3s ease;
            opacity: 0;
        }
    }
}

#check:checked~{
    .navbar{
        a{
            transform: translateY(0);
            opacity: 1;
            transition-delay: calc(.15s * var(--i));
        }
}
}